{% extends 'base.html' %}

{% block content %}

<main>
    <div id="title-container" class="d-flex flex-column">
        <h2 id="title" class="text-center"><strong>Contact Us</strong></h2>
        <p id="sub-title" class="text-center">Any question or remark? Just write us a message!</p>
    </div>
    <div id="box-container container-fluid d-flex justify-content-between">
        <div id="box" class="shadow rounded d-flex justify-content-start">
            <div id="box1" class="rounded">
                <h5 class="box1-text-color box1-text">Contact Information</h5>
                <p class="box1-text-color box1-text non-title">Fill up the form and our Team will get back to you within 24 hours.</p>
                <div class="list-contact">
                    <i class="fa-solid fa-phone icon"></i>
                    <span class="box1-text-color">+62 8158 4679 688</span>
                </div>
                <div class="list-contact">
                    <i class="fa-solid fa-envelope icon"></i>
                    <span class="box1-text-color">khairani.khalida@gmail.com</span>
                </div>
                <div class="list-contact">
                    <i class="fa-solid fa-location-dot fa-lg icon"></i>
                    <span class="box1-text-color">Kemayoran, Jakarta Pusat</span>
                </div>
            </div>
            <div id="box2" class="rounded">
                <div class="form-container form-container-kontak d-flex justify-content-between">
                    <div class="form-group form-group-kontak">
                        <label class="box2-text-color">First Name</label>
                        <input type="text" class="form-control form-control-kontak" placeholder="John">
                    </div>
                    <div class="form-group form-group-kontak">
                        <label class="box2-text-color">Last Name</label>
                        <input type="text" class="form-control form-control-kontak" placeholder="Doe">
                    </div>
                </div>
                <div class="form-container form-container-kontak d-flex justify-content-between">
                    <div class="form-group form-group-kontak">
                        <label class="box2-text-color">Mail</label>
                        <input type="text" class="form-control form-control-kontak" placeholder="john.doe@example.com">
                    </div>
                    <div class="form-group form-group-kontak">
                        <label class="box2-text-color">Phone</label>
                        <input type="text" class="form-control form-control-kontak" placeholder="+6281584679688">
                    </div>
                </div>
                <div class="form-container form-container-kontak">
                    <div class="form-group form-group-kontak">
                        <label class="box2-text-color">Message</label>
                        <textarea class="form-control form-control-kontak" placeholder="I have some problems here...." rows="4" cols="50"></textarea>
                    </div>
                </div>
                <div class="form-container d-flex justify-content-end">
                    <div class="form-group form-group-kontak">
                        <button type="submit" class="btn btn-kontak">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}